/* gallery */
.gallery-item {
  margin-top: 30px;
}

.gallery-img {
  height: 100%;
  object-fit: cover;
}

.reactgridgallery_tile {
  margin: 2.5rem;
  flex-grow: 1;
  background-color: transparent !important;
}

.reactgridgallery_tile:hover {
  cursor: zoom-in;
}

.reactgridgallery_tile img {
  width: 100%;
  border-radius: 0;
  object-fit: cover;
  transition: all 300ms;
  cursor: zoom-in !important;
}
